Repository duniter/silkaj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

build:
  stage: checks
  script:
  - poetry build

format:
  stage: checks
  image: $DOCKER_IMAGE/3.8:latest
  script:
  - black --check bin silkaj tests

tests-3.5:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest
  tags:
  - poetry-56
  variables:
    PYTHON_VERSION: '3.5'

tests-3.6:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest
  tags:
  - poetry-56
  variables:
    PYTHON_VERSION: '3.6'

tests-3.7-coverage:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest --cov silkaj --cov-report html:cov_html
  - poetry run coverage-badge -o cov_html/coverage.svg
  tags:
  - poetry-78
  artifacts:
    paths:
    - cov_html
    expire_in: 2 days

tests-3.8:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest
  tags:
  - poetry-78
  variables:
    PYTHON_VERSION: '3.8'

[test] #307: Create test_tui.py file * move test_display_amount() and test_display_pubkey() from test_unit_tx.py to test_tui.py
  tests/test_tui.py
  tests/test_unit_tx.py
Due: format

[mod] #301 : create a function gen_checksum * gets a pubkey in for input * returns the checksum
  silkaj/crypto_tools.py
  tests/test_crypto_tools.py
Due: format

[mod] #301 : create function display_pubkey_and_checksum() and related tests
  silkaj/constants.py
  silkaj/tui.py
  tests/test_tui.py
  tests/test_unit_tx.py
Due: format

[enh] #301 display the checksum in the tx command * for each pubkey in the tx confirmation * when sending the transaction
  silkaj/tui.py
  silkaj/tx.py
  tests/test_tui.py
Due: format

[enh] #301 : make `history` command use <pubkey:checksum> format * in the display * as parameter
  silkaj/tx_history.py
Due: format

[enh] #301 make `balance` use <pubkey:checksum> format for display
  silkaj/money.py
  tests/test_end_to_end.py
Due: format

[enh] #301 : make `wot` and `id` commands use <pubkey:checksum> format * display * parameter * change tests/test_wot and test_end_to_end to match new behavior
  silkaj/wot.py
  tests/test_end_to_end.py
  tests/test_wot.py
Due: format

[enh] #301 : make `cert` command use <pubkey:checksum> format * for display * as input
  silkaj/cert.py
Due: format

[enh] #301 : make `membership` command display <pubkey:checksum> format
  silkaj/membership.py
  tests/test_membership.py
Due: format

[enh] #301 : make `authfile` command display <pubkey:checksum> format
  silkaj/auth.py
Due: format

[mod] Introduce has_auth_method() used in `balance`
  silkaj/auth.py
  silkaj/money.py
Due: format

[enh] #301: Add checksum command
  silkaj/checksum.py
  silkaj/cli.py
  tests/test_checksum.py
Due: format

[doc] Add v0.7.{4,5,6} changelog
  CHANGELOG.md
Due: none

[doc] Add v0.8 announcement
  release_notes/images/poetry-logo.svg
  release_notes/images/silkaj_pipeline.png
  release_notes/v0.8.md
Due: none

[doc] Add v0.8.0 changelog
  CHANGELOG.md
Due: none

v0.8.0
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #299: Start 0.9.0dev development cycle
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #313: Upgrade to Poetry v1.1.x
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #313: Update to poetry.lock v1.1.x format
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #176: Use sha256 from hashlib from stdlib
  silkaj/crypto_tools.py
Due: format

[mod] #176: Use base58 module
  silkaj/crypto_tools.py
Due: format

[mod] #176: Get rid of base58 code
  silkaj/crypto_tools.py
Due: format

[mod] #176: Get rid of PyNaCl module.
  README.md
  poetry.lock
  pyproject.toml
  silkaj/crypto_tools.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #240 Drop support for Python 3.5
  .gitlab-ci.yml
  CONTRIBUTING.md
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] Update to DuniterPy v0.60.0 which drops Python 3.5 support
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[ci] #294: Add test-3.9 job
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #294: Update with Py 3.5 support dropped
  poetry.lock
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[ci] Change labels to runners labels
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[fix] #342 : balance command sums up many times the same pubkey -> return error in that case. -> displays an error for each wrong pubkey * write tests for errors on `balance` command
  silkaj/money.py
  tests/test_money.py
Due: format

[fix] #358 update duniterpy to 0.58.1
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

v0.8.1
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] Add v0.8.1 changelog
  CHANGELOG.md
Due: none

[doc] Fix v0.8.1 changelog
  CHANGELOG.md
Due: none

[dep] Update DuniterPy to v0.61.0
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[dep] Update dependencies
  poetry.lock
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[test][mod] #361 change "moul" id to "Matograine" * reason: "moulid" new uid creates conflict with "moul" and makes tests fail
  tests/test_end_to_end.py
Due: format

[fix] #296 : Prevent sending 0 with --allSources
  silkaj/tx.py
Due: format

[fix] #296 : Prevent sending 0 with --amountUD
  silkaj/constants.py
  silkaj/tx.py
  tests/test_tx.py
  tests/test_unit_tx.py
Due: format

Path conditions:
  build: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  format: any of: bin/silkaj, silkaj/*.py, tests/*.py
  tests-3.5: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  tests-3.6: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  tests-3.7-coverage: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  tests-3.8: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
