Repository duniter/silkaj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8, pages

.gitlab-ci.yml:

stages:
  - checks
  - tests
  - coverage

variables:
  DOCKER_IMAGE: "registry.duniter.org/docker/python3/poetry"
  PYTHON_VERSION: "3.7"

image: $DOCKER_IMAGE/$PYTHON_VERSION:latest

.code_changes:
  only:
    changes:
      - bin/silkaj
      - silkaj/*.py
      - tests/*.py

.changes:
  extends: .code_changes
  only:
    changes:
      - .gitlab-ci.yml
      - pyproject.toml
      - poetry.lock

build:
  extends: .changes
  stage: checks
  script:
    - poetry build

format:
  extends: .code_changes
  stage: checks
  image: $DOCKER_IMAGE/3.8:latest
  script:
    - black --check bin silkaj tests

.tests:
  extends: .changes
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
    - poetry install
    - poetry run pytest

tests-3.5:
  extends: .tests
  variables:
    PYTHON_VERSION: "3.5"

tests-3.6:
  extends: .tests
  variables:
    PYTHON_VERSION: "3.6"

tests-3.7-coverage:
  extends: .tests
  script:
    - poetry install
    - poetry run pytest --cov silkaj --cov-report html:cov_html
  artifacts:
    paths:
      - cov_html

tests-3.8:
  extends: .tests
  variables:
    PYTHON_VERSION: "3.8"

pages:
  extends: .code_changes
  needs: [tests-3.7-coverage]
  stage: coverage
  script: mv cov_html/ public/
  artifacts:
    paths:
      - public
    expire_in: 2 days

[enh] #223: Decouple EndPoint class from Click context
  silkaj/network_tools.py
Due: format, pages

[fix] #233: round passed amount and amoundUD floats × by 100
  silkaj/tx.py
Due: format, pages

[test] #233: Test passed values to transaction_amount()
  tests/test_tx.py
Due: format, pages

[mod] #235: Remove now useless check for tx amount
  silkaj/tx.py
Due: format, pages

[enh] #235: tx: use Mutually exclusive for amount, amountUD, allSources options
  silkaj/tx.py
Due: format, pages

[doc] Update changelog with v0.7.2 and 0.7.3
  CHANGELOG.md
Due: none

[enh] #235: Add CLI mutually exclusive option class
  silkaj/cli_tools.py
Due: format, pages

[mod] Rename cli_tools.py to cli.py
  bin/silkaj
  silkaj/cli.py
Due: format, pages

[fix] #239: money: remove already used inputs
  silkaj/money.py
Due: format, pages

[test] #235: tx: Add tests to check passed options for the amount of the tx
  tests/test_tx.py
Due: format, pages

[fix] #239: enumerate() wrongly moved to the non appropriate for loop
  silkaj/money.py
Due: format, pages

Update DuniterPy to v0.55.1
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] #202: Add contributing documenation
  CONTRIBUTING.md
  doc/contributing.md
Due: none

[doc] #202: Remove French PyPi release documentation
  doc/release_packages_on_pypi-fr.md
Due: none

[doc] Update documentation with new CLI
  doc/how-to_automate_transactions_and_multi-output.md
Due: none

[test] Add pytest-sugar dependency for better test display
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] #149: Add Poetry installation on Debian Buster
  doc/install_poetry.md
Due: none

[mod] #202: Symlink not followed when navigating on GitLab: mv content to original place
  CONTRIBUTING.md
  doc/contributing.md
Due: none

[mod] #149: Deploy coverage website only on dev branch
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] Update dependencies
  poetry.lock
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[ci] #149, #182, #245: Remove Poetry by-pass conf creation fixed in 1.0.0b2
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[fix] 'poetry run' cli parsing changed in 1.0.0b3:
  .gitlab-ci.yml
  doc/install_poetry.md
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[enh] Update dependencies
  poetry.lock
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[fix] Call 'poetry run silkaj' tests with '--'
  tests/test_end_to_end.py
Due: format, pages

[enh] #236: improve the tx confirmation display
  silkaj/tx.py
Due: format, pages

[test] #236: add tests for tx confirmation, mock functions:
  silkaj/tx.py
  tests/patched.py
  tests/test_unit_tx.py
Due: format, pages

[mod] Revert changes made for Poetry 1.0.0b3 now fixed in b4:
  .gitlab-ci.yml
  doc/install_poetry.md
  tests/test_end_to_end.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8, pages

[cd] Make generated artifacts from tests-3.7-coverage job expires
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[test] minor error fix : * mock_ud_value set to 314. Former value 3.14159 shall never occur.
  tests/patched.py
Due: format, pages

[fix] CI lint: Parsing issue when merging on dev branch
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] contributing: fix typo: PyPi −> PyPI
  CONTRIBUTING.md
Due: none

[enh] Introduce exit status constants
  silkaj/constants.py
  silkaj/network_tools.py
  silkaj/tools.py
Due: format, pages

[fix] #210: Close the client in case of a negative answer to the confirmation
  silkaj/cert.py
  silkaj/tx.py
Due: format, pages

[enh] #255 modify Balance display * change the balance display to a table * use display_amount() and tabulate in the balance display * mod tests_end_to_end.py to match new display
  silkaj/money.py
  tests/test_end_to_end.py
Due: format, pages

[enh] #182: Add pyproject.toml and poetry.lock for Poetry usage
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[enh] #149: Set-up CI/CD adding .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[enh] #105: Set-up CD: Add PyPi and PyPi test distribution
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[format] tests
  tests/test_end_to_end.py
  tests/test_unit_tx.py
Due: format, pages

[ci] Remove 3.8 tests job: broken because of uncompatible cffi dependency
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #182: Update release script
  release.sh
Due: none
