Repository duniter/silkaj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

.gitlab-ci.yml:

stages:
  - checks
  - tests
  - publish
  - coverage

variables:
  DOCKER_IMAGE: "registry.duniter.org/docker/python3/poetry"
  PYTHON_VERSION: "3.7"

image: $DOCKER_IMAGE/$PYTHON_VERSION:latest

.code_changes:
  only:
    changes:
      - bin/silkaj
      - silkaj/*.py
      - tests/*.py

.changes:
  extends: .code_changes
  only:
    changes:
      - .gitlab-ci.yml
      - pyproject.toml
      - poetry.lock

build:
  extends: .changes
  stage: checks
  script:
    - poetry build

format:
  extends: .code_changes
  stage: checks
  image: $DOCKER_IMAGE/3.8:latest
  script:
    - black --check bin silkaj tests

.tests:
  extends: .changes
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
    - poetry install
    - poetry run pytest

tests-3.5:
  extends: .tests
  tags: [poetry-56]
  variables:
    PYTHON_VERSION: "3.5"

tests-3.6:
  extends: .tests
  tags: [poetry-56]
  variables:
    PYTHON_VERSION: "3.6"

tests-3.7-coverage:
  extends: .tests
  tags: [poetry-78]
  script:
    - poetry install
    - poetry run pytest --cov silkaj --cov-report html:cov_html
    - poetry run coverage-badge -o cov_html/coverage.svg
  artifacts:
    paths:
      - cov_html
    expire_in: 2 days

tests-3.8:
  extends: .tests
  tags: [poetry-78]
  variables:
    PYTHON_VERSION: "3.8"

pypi_test:
  stage: publish
  only: [tags]
  when: manual
  script:
    - poetry config repositories.pypi_test https://test.pypi.org/legacy/
    - poetry publish --build --username $PYPI_TEST_LOGIN --password $PYPI_TEST_PASSWORD --repository pypi_test

pypi:
  stage: publish
  only: [tags]
  when: manual
  script:
    - poetry publish --build --username $PYPI_LOGIN --password $PYPI_PASSWORD

pages:
  extends: .code_changes
  needs: [tests-3.7-coverage]
  only: [dev]
  stage: coverage
  script: mv cov_html/ public/
  artifacts:
    paths:
      - public
    expire_in: 2 days

[mod] #252: Create helper to update the copyright year
  update_copyright_year.sh
Due: none

[mod] #252: Update the copyright year in the header of every source files
  bin/silkaj
  silkaj/__init__.py
  silkaj/auth.py
  silkaj/blockchain_tools.py
  silkaj/cert.py
  silkaj/cli.py
  silkaj/cli_tools.py
  silkaj/commands.py
  silkaj/constants.py
  silkaj/crypto_tools.py
  silkaj/license.py
  silkaj/money.py
  silkaj/network_tools.py
  silkaj/tools.py
  silkaj/tui.py
  silkaj/tx.py
  silkaj/tx_history.py
  silkaj/wot.py
Due: format

[enh] Update dependencies
  poetry.lock
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[enh] #263: Add Black dev dependency installable with Py ≥ 3.6
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] #249: Install Poetry stable
  doc/install_poetry.md
Due: none

[fix] #273: changing regex for PubSec authfile authentication * use Duniterpy's regexp for authfile checking * document the function auth_by_auth_file()
  silkaj/auth.py
Due: format

v0.7.4
  CHANGELOG.md
  pyproject.toml
  silkaj/constants.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] Add changelog for v0.7.{4,5}
  CHANGELOG.md
Due: none

v0.7.5
  setup.py
  silkaj/constants.py
Due: format

[mod] Update DuniterPy to 0.56.0, fix the version
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] diffi: Add new websocket handling from DuniterPy 0.56
  silkaj/commands.py
Due: format

[fix] Update DuniterPy to v0.55.1
  setup.py
Due: none

[doc] Add v0.7.6 Changelog
  CHANGELOG.md
Due: none

v0.7.6
  setup.py
  silkaj/constants.py
Due: format

[fix] #276: Add a 'scripts' definition to Silkaj entry point
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #276: Remove now useless bin/silkaj and its references
  .gitlab-ci.yml
  bin/silkaj
  doc/install_poetry.md
  tests/test_end_to_end.py
  update_copyright_year.sh
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[ci] #284: fix: changes wasn't inherited but erased
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[format] #286: Format change with Black v19.10b0
  silkaj/wot.py
Due: format

[fix] #263: Allow to install Black on Python >= 3.6
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] Update dependencies in the lock file
  poetry.lock
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[feat] #262: Add 'verify' command to check blocks’ signatures
  silkaj/blocks.py
  silkaj/cli.py
  silkaj/constants.py
Due: format

[test] #262: Add verify blocks tests:
  tests/test_verify_blocks.py
Due: format

[mod] crypto: Import to-level 're' lib for clarity
  silkaj/auth.py
  silkaj/crypto_tools.py
Due: format

[mod] Sort imports: external, duniterpy, silkaj
  silkaj/auth.py
Due: format

[enh] crypto: define regex patterns on top of the files
  silkaj/auth.py
  silkaj/constants.py
  silkaj/crypto_tools.py
Due: format

[mod] auth: Rephase comments
  silkaj/auth.py
Due: format

[feat] #111: Send multiple outputs: change click options:
  silkaj/tx.py
  tests/test_tx.py
Due: format

[mod] #111: create MINIMAL_TX_AMOUNT, CENT_MULT_TO_UNIT constants
  silkaj/constants.py
  silkaj/tx.py
  tests/test_tx.py
Due: format

[enh] #111: create compute_amounts() function
  silkaj/tx.py
  tests/test_unit_tx.py
Due: format

[feat] #111: modification of transaction_amount() function
  silkaj/tx.py
  tests/test_tx.py
  tests/test_unit_tx.py
Due: format

[feat] #111: change functions to handle amounts list.
  silkaj/tx.py
  tests/patched.py
  tests/test_unit_tx.py
Due: format

[feat] #111: modify transaction_confirmation() function
  silkaj/tx.py
  tests/test_unit_tx.py
Due: format

[test] #111: create a unit test for get_list_input_for_transaction()
  tests/patched.py
  tests/test_unit_tx.py
Due: format

[enh] blocks: add powMin in the block explorer
  silkaj/commands.py
Due: format

[doc] Add packaging status badge from Repology into the Readme
  README.md
Due: none

[mod] Update DuniterPy to v0.57.0
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] Fix feature title in the readme
  README.md
Due: none

[fix] Use async.sleep() inbetween intermediaries tx
  silkaj/tx.py
Due: format

[fix] #232: tx: Use async.sleep() inbetween wot requests
  silkaj/tx.py
Due: format
