Repository duniter/silkaj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

build:
  stage: checks
  script:
  - poetry build

format:
  stage: checks
  image: $DOCKER_IMAGE/3.8:latest
  script:
  - black --check bin silkaj tests

tests-3.5:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest
  tags:
  - poetry-56
  variables:
    PYTHON_VERSION: '3.5'

tests-3.6:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest
  tags:
  - poetry-56
  variables:
    PYTHON_VERSION: '3.6'

tests-3.7-coverage:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest --cov silkaj --cov-report html:cov_html
  - poetry run coverage-badge -o cov_html/coverage.svg
  tags:
  - poetry-78
  artifacts:
    paths:
    - cov_html
    expire_in: 2 days

tests-3.8:
  stage: tests
  image: $DOCKER_IMAGE/$PYTHON_VERSION:latest
  script:
  - poetry install
  - poetry run pytest
  tags:
  - poetry-78
  variables:
    PYTHON_VERSION: '3.8'

[CI] Change only/except to rules
  .gitlab-ci.yml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[enh] #192: blocks: Replace while by for loops, use boolean
  silkaj/commands.py
Due: format

[enh] #232: Increase ASYNC_SLEEP to 0.15s to retrieve ids from tx_history
  silkaj/constants.py
Due: format

[enh] Improve words on the certification confirmation table
  silkaj/cert.py
Due: format

[enh] tx: Add small option for the comment
  silkaj/tx.py
Due: format

[test] Make use of FAILURE_EXIT_STATUS constant
  tests/test_tx.py
Due: format

[mod] balance: Get rid of useless comparison to M
  silkaj/money.py
Due: format

[enh] Improve -p/-gt options helps descriptions
  silkaj/cli.py
Due: format

[mod] #172: balance: Properly name variables
  silkaj/money.py
Due: format

[mod] black pre-commit: Remove Python version requirement
  .pre-commit-config.yaml
Due: none

[test] #285: Add copyright header in tests source files
  tests/patched.py
  tests/test_end_to_end.py
  tests/test_tx.py
  tests/test_tx_history.py
  tests/test_unit_cert.py
  tests/test_unit_tx.py
Due: format

[doc] #317: install_pip: Raspbian also requires python3-dev
  doc/install_pip.md
Due: none

[mod] #237: Move back to ':' pubkey and checksum delimiter
  silkaj/crypto_tools.py
  silkaj/tx.py
Due: format

[mod] Update dependencies. In particular:
  poetry.lock
  tests/test_tx.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[doc] readme: add G1pourboire to the list of wrappers
  README.md
Due: none

[doc] #322: install_poetry: ARMbian requires libffi-dev
  doc/install_poetry.md
Due: none

[fix] #323: Handle recipients pubkey with a checksum
  silkaj/tx.py
Due: format

[mod] #264: Move 'net' command to net.py
  silkaj/cli.py
  silkaj/commands.py
  silkaj/net.py
Due: format

[mod] #264: Disable 'net' command
  silkaj/cli.py
  silkaj/net.py
Due: format

[mod] #269: Move convert_time() to tui.py
  silkaj/cert.py
  silkaj/commands.py
  silkaj/net.py
  silkaj/tools.py
  silkaj/tui.py
  silkaj/tx_history.py
  silkaj/wot.py
Due: format

[dep] Update pytest-asyncio to v0.14.0
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] Move HeadBlock() to blockchain_tools.py
  silkaj/blockchain_tools.py
  silkaj/cert.py
  silkaj/commands.py
  silkaj/money.py
  silkaj/network_tools.py
  silkaj/tx.py
  tests/test_unit_tx.py
Due: format

[mod] tui.display_amount: round UD amount to two decimals
  silkaj/tui.py
  tests/test_unit_tx.py
Due: format

[test] Improve 'verify' tests
  tests/test_verify_blocks.py
Due: format

[doc] CONTRIBUTING: fix typos and links
  CONTRIBUTING.md
Due: none

[fix] #291: Fix deprecation warning on tx comment regex
  silkaj/tx.py
Due: format

[dep] Update dependencies, pytest to v6.0
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[dep] #338: Update black to v20.8b1
  poetry.lock
  pyproject.toml
  silkaj/tx.py
  tests/test_tx.py
  tests/test_unit_tx.py
Due: build, format, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[mod] #140: Change argument name for better --help
  silkaj/cert.py
  silkaj/wot.py
Due: format

[dep] #251: Add pendulum dependency
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[enh] #140: wot: Add choose_identity()
  silkaj/cert.py
  silkaj/wot.py
  tests/test_wot.py
Due: format

[feat] #88: Add membership command
  silkaj/cli.py
  silkaj/membership.py
  tests/test_membership.py
Due: format

[dep] Introduce asynctest as dev dependency for Py < 3.8
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[test] tx.transaction_amount: monkeypatch ud_value
  tests/test_tx.py
  tests/test_unit_tx.py
Due: format

[dep] Update DuniterPy to v0.58.0
  poetry.lock
  pyproject.toml
Due: build, tests-3.5, tests-3.6, tests-3.7-coverage, tests-3.8

[fix] #336: tx_history: Handle multi-sig signature pubkeys display
  silkaj/tx_history.py
  tests/test_tx_history.py
Due: format

[enh] #88: membership: Rework fields names
  silkaj/membership.py
  tests/test_membership.py
Due: format

[enh] #88: membership: Rework fields names (2)
  silkaj/membership.py
  tests/test_membership.py
Due: format

[enh] tx: Rework confirmation fields titles
  silkaj/tx.py
  tests/test_unit_tx.py
Due: format

[fix] #172: balance: Forget to rename variable in pending tx
  silkaj/money.py
Due: format

Path conditions:
  build: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  format: any of: bin/silkaj, silkaj/*.py, tests/*.py
  tests-3.5: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  tests-3.6: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  tests-3.7-coverage: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
  tests-3.8: any of: .gitlab-ci.yml, pyproject.toml, poetry.lock
